@page "/split-text"
@inherits GsapComponentBase

<div class="container">
    <div class="button-wrapper">
        <button id="chars" class="button" @onclick="AnimateChars">Characters</button>
        <button id="words" class="button" @onclick="AnimateWords">Words</button>
        <button id="lines" class="button" @onclick="AnimateLines">Lines</button>
    </div>
    <div class="text">
        Break apart HTML text into characters, words, and/or lines for easy animation.
    </div>
</div>
